<!DOCTYPE html>
<html>
<div class="main">
  <div class="heading">
    <h1>Nomad Lifestyle Rating</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">REGION</th>
        <th scope="col" *ngFor="let form of formsHeader">{{form}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-rows-body" *ngFor="let language of generatedData; let i = index">
        <td class="region">{{language.name}}</td>
        <td *ngFor="let formStatusItem of language.formStatus">
          <div *ngIf="formStatusItem.amountPassed > 0" [ngClass]="formStatusItem.amountPassed < 100 ?'incomplete':'complete'"
            placement="bottom" matTooltip="Click for details" (click)="open(content)">
            <div class="table-entry" *ngIf="formStatusItem">
              {{formStatusItem.amountPassed}}%
            </div>
          </div>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Details</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="circle-progress">
                  <circle-progress *ngIf="formStatusItem.amountPassed>0" [percent]="formStatusItem.amountPassed"
                    [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" class="circle"></circle-progress>

                  <circle-progress *ngIf="formStatusItem.amountPassed===0" [percent]="formStatusItem.amountPassed"
                    [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'red'"
                    [innerStrokeColor]="'pink'" [animation]="true" [animationDuration]="300" class="circle"></circle-progress>
                </div>
                <div class="form-group ok" *ngIf="formStatusItem.Positive.length>0">
                  <h4>Positive</h4>
                  <div *ngFor="let formItem of formStatusItem.Positive">
                    <p class="form-item"> {{formItem}}</p>
                  </div>
                </div>
                <div class="form-group missing" *ngIf="formStatusItem.Neutral.length>0">
                  <h4>Neutral</h4>
                  <div *ngFor="let formItem of formStatusItem.Neutral">
                    <p class="form-item"> {{formItem}}</p>
                  </div>
                </div>
                <div class="form-group missing" *ngIf="formStatusItem.Negative.length>0">
                  <h4>Negative</h4>
                  <div *ngFor="let formItem of formStatusItem.Negative">
                    <p class="form-item"> {{formItem}}</p>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <footer>
    <p class="footer-text">Version 3 | Updated: {{update| date: short}}</p>
  </footer>
</div>

</html>
