/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #F7a992;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(#F1C5B4, #EBDCD5); */

}
